body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Menlo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

.guesser {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.num__target {
  font-size: 5rem;
}

.tracker > span {
  font-weight: bold;
}

.cell {
  display: flex;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  /* background-color: #e6e6e6; */
  text-align: center;
  cursor: pointer;
}

.cell:hover {
  box-shadow: 0 0 12.5px darkgreen;
}

.tracker {
  margin: 20px 0 20px 0;
}

.game__over {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0%;
  color: white;
  font-size: 5rem;
  display: none;
  text-align: center;
  padding-top: 20px;
}

.winner {
  background-color: darkgreen;
}
.loser {
  background-color: darkred;
}

.overButton {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  padding: 20px;
  /* border-radius: 50px; */
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  font-family: "Menlo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.overButton:hover {
  color: #fff;
  background: black;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
